@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

.App {
  text-align: center;
}

.jumbotron{
  background-image: url('./main-image.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
  padding-top: 10%;
  opacity: .8;
}

 